export(warigaan)
export(warigas)
import(wavelets)
import("FinTS", except=Acf)
import("LSTS", except=ts.diag)
import("aTSA", except=c(forecast,pp.test,kpss.test, adf.test,ts.diag))
import(caret)
import(e1071)
import(earth)
import("fGarch", except=formula)
import(forecast)
import(neuralnet)
import(pso)
import("stats", except=c(fitted,predict,coef, residuals,update))
import(tseries)
importFrom("utils", "head")
